<main class="cart-overview">
  <section class="cart-overview__products">
    <h1 class="title border">Shopping cart</h1>

    <app-products-table [products]="productsList" (changeProductQuantity)="onChangeProductQuantity($event)"></app-products-table>
  </section>
  <aside class="cart-overview__summary">
    <h1 class="title border">Order Summary</h1>

    <div class="summary__items-section row border">
      <span class="summary-text">{{ totalAmountOfProducts }} items</span>
      <span class="summary-text summary-text--bold fs-16">{{ totalBasePriceOfProducts }} €</span>
    </div>
    <div class="summary__discounts-section border">
      <h2 class="secondary-title">Discounts</h2>
      <ul>
        <li class="row summary__discounts" *ngFor="let discount of discounts">
          <span class="summary-text">{{ discount.name }}</span>
          <span class="summary-text summary-text--bold">{{ discount.discountAmount ? '-' : '' }}{{ discount.discountAmount }}€</span>
        </li>
      </ul>
    </div>
    <div class="summary__total-section">
      <div class="row">
        <span class="summary-text">TOTAL COST</span>
        <span class="summary-text__total summary-text--bold">{{ totalPriceWithDiscount }} €</span>
      </div>
      <app-button [buttonText]="'Checkout'" (clickEvent)="onCheckout()"></app-button>
    </div>
  </aside>
</main>
