<table class="products-table">
  <tr class="products-table__header row row__table">
    <th class="col-product">Product details</th>
    <th class="col-quantity">Quantity</th>
    <th class="col-price">Price</th>
    <th class="col-total">Total</th>
  </tr>
  <tr *ngFor="let productItem of products; trackBy: trackBy" class="products-table__content row row__table">
    <app-product-info class="col-product" [productInfo]="productItem"></app-product-info>
    <div class="col-quantity">
      <app-quantity-counter [quantity]="productItem.quantity!" (changeQuantity)="changeProductQuantity.emit({ newQuantity: $event, productCode: productItem.code })"></app-quantity-counter>
    </div>
    <span class="col-price">{{ productItem.price }} €</span>

    <span class="col-total">{{ productItem.totalItemPrice }} €</span>
  </tr>
</table>
